<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>El TPE de PAW</display-name>

	<servlet>
		<servlet-name>FilmList</servlet-name>
		<servlet-class>ar.edu.itba.grupo2.web.FilmList</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FilmList</servlet-name>
		<url-pattern>/filmList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddComment</servlet-name>
		<servlet-class>ar.edu.itba.grupo2.web.AddComment</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddComment</servlet-name>
		<url-pattern>/addComment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WelcomeScreen</servlet-name>
		<servlet-class>ar.edu.itba.grupo2.web.WelcomeScreen</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WelcomeScreen</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>ar.edu.itba.grupo2.web.Logout</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FilmDetails</servlet-name>
		<servlet-class>ar.edu.itba.grupo2.web.FilmDetails</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FilmDetails</servlet-name>
		<url-pattern>/filmDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterScreen</servlet-name>
		<servlet-class>ar.edu.itba.grupo2.web.RegisterScreen</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterScreen</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserComments</servlet-name>
		<servlet-class>ar.edu.itba.grupo2.web.UserComments</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserComments</servlet-name>
		<url-pattern>/userComments</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AuthenticateUser</servlet-name>
		<servlet-class>ar.edu.itba.grupo2.web.AuthenticateUser</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthenticateUser</servlet-name>
		<url-pattern>/authenticateUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResetPasswordScreen</servlet-name>
		<servlet-class>ar.edu.itba.grupo2.web.ResetPasswordScreen</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ResetPasswordScreen</servlet-name>
		<url-pattern>/resetPassword</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResetPasswordAction</servlet-name>
		<servlet-class>ar.edu.itba.grupo2.web.ResetPasswordAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ResetPasswordAction</servlet-name>
		<url-pattern>/resetPasswordAction</url-pattern>
	</servlet-mapping>

	<filter>
	<filter-name>LoggedUserFilter</filter-name>
	<filter-class>ar.edu.itba.grupo2.filter.LoggedUserFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoggedUserFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/jsp/error/dispatch-error.jsp</location>
	</error-page>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
